body {
  background-color: #66ff66;
  font-family: arial;
}

.headerpic {
  float: right;
  border-style: solid;
  border-radius: 50%;
  background-color: gold;
}

.projectlist {
  display: block;
  border-style: inset;
  border-width: 5px;
  background-color: lightgreen;
}

.background {
  display: block;
  float: left;
  padding: 5px;
  border-style: groove;
  border-width: 2px;
  background-color: lightblue;
  border-radius: 10px;
}

.interests {
  display: block;
  float: left;
  padding: 5px;
  border-style: groove;
  border-width: 2px;
  background-color: lightblue;
  border-radius: 10px;
}

.facts {
  display: block;
  text-align: center;
  padding: 5px;
  border-style: groove;
  border-width: 2px;
  background-color: lightblue;
  border-radius: 10px;
}

img.resize {
  max-width: 50%;
  max-height: 50%;
}

.ppanel {
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: lightblue;
  padding: 5px;
}

.bpanel {
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: lightgreen;
  padding: 5px;
}

.lpanel {
  display: block;
  border-style: solid;
  border-width: thin;
  border-color: black;
  background-color: lightgreen;
  padding: 5px;
}

.jumbotron {
  font-family: sans-serif;
  border-style: ridge;
  background-color: pink;
  border-radius: 20%;
  padding: 15px;
  margin: 20px;
}

h5 {
  font-style: oblique;
}

.about {
  display: block;
  border-style: groove;
  border-width: thin;
  border-color: black;
  background-color: pink;
}

.bonusfact{
  font-style: oblique;
}

p.bonusfact {
  font-size: 9pt;
}

ul {
  border-style: inset;
  border-width: thin;
}

img.resize2 {
  max-width: 90%;
  max-height: 90%;
  display: block;
  margin: 0 auto;
}
