body {
  background-color: #66ff66;
}

.headerpic {
  float: right;
}

.projectlist {
  display: block;
  border-style: inset;
  border-width: 5px;
  background-color: lightgreen;
}

.background {
  display: block;
  padding: 5px;
  border-style: groove;
  border-width: 2px;
}

.interests {
  display: block;
  padding: 5px;
  border-style: groove;
  border-width: 2px;
}

.facts {
  display: block;
  text-align: center;
  padding: 5px;
  border-style: groove;
  border-width: 2px;
}

img.resize {
  max-width: 50%;
  max-height: 50%;
}

.ppanel {
  border-style: solid;
  border-width: thin;
  background-color: lightblue;
  padding: 3px;
}
